@model UpdateProductImageDto
@{
    ViewData["Title"] = "Ürün Resim Güncelleme";
    ViewData["v1"] = "Anasayfa";
    ViewData["v2"] = "Ürün Resimleri";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <input type="hidden" asp-for="ProductImageID" />                       
                        <input type="hidden" asp-for="ProductId" />                       
                        <label>Kategori Resmi1</label>
                        <input type="text" asp-for="Image1" required class="form-control" />
                        <br />
                         <label>Kategori Resmi2</label>
                        <input type="text" asp-for="Image2" required class="form-control" />
                        <br />
                        <label>Kategori Resmi3</label>
                        <input type="text" asp-for="Image3" required class="form-control" />
                        <br />
                        <label>Kategori Resmi4</label>
                        <input type="text" asp-for="Image4" required class="form-control" />
                        <br />

                        <button class="btn btn-primary">Resim Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>





