@model CreateCategoryDto
@{
    ViewData["Title"] = "Kategori Ekleme";
    ViewData["v1"] = "Anasayfa";
    ViewData["v2"] = "Kategoriler";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <label>Kategori Adı</label>
                        <input type="text" asp-for="CategoryName" required class="form-control" />
                        <br />
                        <label>Kategori Resmi</label>
                        <input type="text" asp-for="ImageUrl" required class="form-control" />
                        <br />
                        <button class="btn btn-primary">Kategori Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



