@model List<ResultProductWithCategoryDto>
@{
    ViewData["Title"] = "Ürün İşlemleri";
    ViewData["v1"] = "Anasayfa";
    ViewData["v2"] = "Ürünler";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ürün Adı</th>
                                <th>Ürün Fiyatı</th>
                                <th>Ürün Kategori</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                                <th>Resim Ekle</th>
                                <th>Açıklama ve Bilgi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.ProductName</td>
                                    <td>@item.ProductPrice</td>
                                    <td>@item.Category.CategoryName </td>
                                    <td><a href="/Admin/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Sil</a></td>
                                    <td><a href="/Admin/Product/UpdateProduct/@item.ProductId" class="btn btn-primary">Güncelle</a></td>
                                    <td><a href="/Admin/ProductImage/ProductImageDetail/@item.ProductId" class="btn btn-warning">Ürün Görselleri</a></td>
                                    <td><a href="/Admin/ProductDetail/UpdateProductDetail/@item.ProductId" class="btn btn-primary">Açıklama ve Bilgi</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/Admin/Product/CreateProduct" class="btn btn-success">Yeni Ekle</a>
                </div>
            </div>
        </div>
    </div>
</section>

