@model UpdateProductDto
@{
    ViewData["Title"] = "Ürün Güncelleme";
    ViewData["v1"] = "Anasayfa";
    ViewData["v2"] = "Ürünler";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <input type="hidden" asp-for="ProductId" />
                        <label>Ürün Adı</label>
                        <input type="text" asp-for="ProductName" required class="form-control" />
                        <br />
                        <label>Ürün Fiyatı</label>
                        <input type="text" asp-for="ProductPrice" required class="form-control" />
                        <br />
                        <label>Ürün Görseli</label>
                        <input type="text" asp-for="ProductImageUrl" required class="form-control" />
                        <br />
                        <label>Ürün Kategorisi</label>
                        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.CategoryValues, new { @style = "padding:0;", @class = "form-control" })
                        <br />
                        <label>Ürün Açıklaması</label>
                        <textarea rows="3" asp-for="ProductDescription" required class="form-control"></textarea>
                        <br />

                        <button class="btn btn-primary">Ürün Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



